
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
    
}

body{
    background-color:#f2f2f2;
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
    padding:20px;
}

.card{
    background-color: white;
    width: 500px;
    max-width: 420px;
    border-radius: 16px;
    justify-content:center;
    padding:32px;
    box-shadow: 0 4px 20px rgba(0,0,0,.05);
    border-top: 4px solid #40e0d0;
}
h2{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 8px;
}

.subtitle{
    color: #343434;
    font-size: 13px;
    margin-bottom: 15px;
}
.form-group{
    margin-bottom: 12px;
}

.row{
    display:flex;
    gap: 12px;
    margin-bottom:15px;
}

.row.form-group{
    flex: 1;
}
label{
    display: block;
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 6px;
}

input{
    width: 100%;
    padding: 12px;
    border: 1.5px solid #14b8a6;
    background-color: #fcfdfe;
    border-radius: 10px;
    font-size: 14px;
    outline: none;
    transition: 0.2s;
}

input:focus{
    border-color: #40e0d0;
    box-shadow: 0 0 0 3px rgba(79,209,197,0.2);
}

.hint{
    font-size: 14px;
    color: #232324;
    text-align: left;
    font-weight: 20px;
    margin-right: 40px;

    
}
.agree{
    margin: 15px 0;
    display: flex;
    align-items: center;
}
.agree label{
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 12px;
    color: #777;
    
}
.agree input[type="checkbox"]{
    width: 18px;
    height: 18px;
    accent-color: #14b8a6;
}
.btn{
    width: 100%;
    background-color: #40e0d0;
    color: white;
    border: none;
    padding: 14px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 8px;
    transition: 0.2s;
}
.btn:hover{
    background-color: #40e0d0;
}
.footer-text{
    text-align: center;
    font-size: 18px;
    margin-top: 30px;
    color: #4b5563;
    text-align: left;

}
.footer-text a{
    color: #40e0d0;
    text-decoration: none;
    font-weight: 500;
}
.signup-txt{
    margin-top: 20px;
    text-align: left;
    font-size: 14px;
    color: #131313;
}
.signup-txt a{
    color: #40e0d0;
    text-decoration: none;
    font-weight: 500;
}

